._*
.DS_Store
*jsbundle*
*jsbundle*.*
sixrandom/plumber/*
sixrandom/android/app/release/*
sixrandom/android/app/src/main/assets/index.android.bundle.meta
sixrandom/android/app/src/main/assets/index.android.bundle
sixrandom/package-lock.json
sixrandom/yarn.lock
sixrandom/ios/Pods/*
sixrandom/ios/bundle/*
*output.json
sixrandom/.vscode/.react/*
sixrandom/src/.vscode/launch.json
*.hprof
*output-metadata.json
sixrandom/ios/Podfile.lock
.watchman*
*.lock
*.lock
sixrandom/vendor/*
sixrandom/android/gradle/.tmp*
sixrandom/android/gradle/.tmp/*
sixrandom/android/gradle/caches*
sixrandom/android/gradle/caches/*
sixrandom/android/gradle/daemon*
sixrandom/android/gradle/daemon/*
sixrandom/android/gradle/wrapper/*
sixrandom/android/gradle/native/*
sixrandom/android/gradle/android/*
