._*
.DS_Store
*jsbundle*
*jsbundle*.*
sixrandom/plumber/*
sixrandom/android/app/release/*
sixrandom/android/app/src/main/assets/index.android.bundle.meta
sixrandom/android/app/src/main/assets/index.android.bundle
sixrandom/android/app/src/main/res/*
sixrandom/package-lock.json
sixrandom/yarn.lock
sixrandom/ios/Pods/*
sixrandom/ios/bundle/*
*output.json
sixrandom/.vscode/.react/*
sixrandom/src/.vscode/launch.json
*.hprof
*output-metadata.json
sixrandom/ios/Podfile.lock
.watchman*
